/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,body{
	height: 100%;
	width: 100%;
	line-height: 1.5;
	font-size: 18px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: "OpenSans", serif;
}
.cover {
	max-width: 500px;
	height: 500px;
	background: url(../img/background.png);
	background-size: cover;
	margin: 50px auto 0 auto;
 	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
 }
.container {
	max-width: 365px;
	height: 365px;
	background-color: #e5e5e5;
	box-shadow: 0px 5px 30px 10px rgba(0, 0, 0, 0.4);
}
.form_close {
	position: relative;
}
.form_close img {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 15px;
	height: 15px;
}
.form_close img:active {
	transform: scale(1.3);
	transition: 0.1s ease-in;
}
.title {
	margin-bottom: 15px;
}
.title h1 {
	font-size: 26px;
	text-align: center;
	margin-top: 24px;
}
.title p {
	font-size: 10px;
	text-align: center;
	color: #ffffff;
}
.title a {
	border-bottom: 1px solid #ffffff;
	padding-bottom: 2px;
	color: #ffffff;
}
.form_content {
	display: flex;
	flex-direction: column;
}
.user_name {
	display: flex;
	align-items: center;
	height: 45px;
	margin: 0 37px;
	margin-top: 10px;
}
.username {
	width: 245px;
	height: 45px;
	padding-left: 20px;
	background-color: #ffffff;
}
.icon_user {
	width: 45px;
	height: 45px;
	content: "";
	background: url("../img/Login.png") 50%/50% no-repeat;
	background-color: #e65848;
}
.user_pass {
	position: relative;
	display: flex;
	align-items: center;
	margin: 0 37px;
	margin-top: 15px;
}
.pass {
	width: 245px;
	height: 45px;
	background-color: #ffffff;
	padding-left: 20px;
}
.icon_pass {
	width: 45px;
	height: 45px;
	content: "";
	background: url("../img/Password.png") 50%/50% no-repeat;
	background-color: #e65848;
}
.eye_closed {
	position: absolute;
	left: 230px;
	bottom:8px;
	background: url(../img/Eye.png) 100%/80% no-repeat;
	width: 40px;
	height: 30px;
	opacity: 60%;
}
input::placeholder {
	font-size: 15px;
	color: #c4c4c4;
}
.action {
	display: flex;
	margin-top: 30px;
	justify-content: space-around;
}
.sign {
	color: #ffffff;
	font-size: 22px;
	line-height: 25px;
	width: 137px;
	height: 45px;
	background-color: #e65848;
}
.checkbox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}
.checkbox_input {
	position: absolute;
	opacity: 0;
}
.checkbox_input:checked + .checkbox_label:after {
	opacity: 1;
}
.checkbox_input:checked + .checkbox_label:before {
	background-color: #343844;
}
.checkbox_label {
	user-select: none;
	display: block;
	font-size: 10px;
	margin-left: 19px;
	cursor: pointer;
}
.checkbox_label:before {
	content: "";
	position: absolute;
	top: 0px;
	left: -13px;
	width: 16px;
	height: 16px;
	border: 1px solid #babbbe;
	box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px rgba(255, 255, 255, 1);
}
.checkbox_label:after {
	content: "";
	position: absolute;
	top: 3px;
	left: -7px;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: #ffffff;
	width: 4px;
	height: 8px;
	transform: rotate(39deg);
	opacity: 0;
}
.forgot {
	display: block;
	color: #343844;
	font-size: 10px;
}
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 80px;
}
.logo {
	width: 17px;
	height: 17px;
}
.logo img {
	width: 100%;
	height: 100%;
	padding-bottom: 2px;
}
.before, .after {
	color: #F58225;
	font-size: 12px;
	font-weight: 600;
	margin-right: 5px;
}
.after {
	margin: 0 0 0 3px;
}